.element-wrapper {
  margin: 10px 10px;
}

.element {
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  color: @text-color;

  header {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
}
