.element-wrapper {
  margin: 10px 10px;
}

.element {
  padding: 20px 10px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;

  h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }

  h2 {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    color: @text-color;
  }
}
