// Variables
@bubble-background-color: @element-background-color;
@bubble-stroke-color    : @element-stroke-color;
@bubble-fill-color      : @element-fill-color;
@bubble-text-opacity    : @element-text-opacity;
@bubble-axis-opacity    : @element-axis-opacity;
@bubble-grid-opacity    : @element-grid-opacity;
@bubble-axis-font-size  : @element-axis-font-size;

// Styles
.element-bubble {
  background-color: @bubble-background-color;

  svg {
    margin: auto;
    stroke: @bubble-stroke-color;
    fill: none;

    .node {
      circle {
        stroke: none;
      }

      text {
        opacity: @bubble-text-opacity;
        fill: @bubble-fill-color;
      }
    }

    .axis {
      font-size: @bubble-axis-font-size;
      opacity: @bubble-axis-opacity;
      stroke: @bubble-stroke-color;

      text {
        fill: @bubble-fill-color;
      }
    }

    .grid-line line {
      opacity: @bubble-grid-opacity;
      shape-rendering: crispEdges;
    }
  }
}
