// Variables
@number-background-color  : @element-background-color;
@number-value-color       : @element-text-color;
@number-value-font-size   : @element-prominent-font-size;
@number-value-font-weight : @element-selected-font-weight;

// Styles
.element-number {
  background-color: @number-background-color;

  .value {
    margin-bottom: 20px;
    min-height: 92px;
    text-transform: uppercase;
    font-size: @number-value-font-size;
    font-weight: @number-value-font-weight;
    color: @number-value-color;
  }
}
