// Variables
@pie-background-color : @element-background-color;
@pie-text-color       : @element-text-color;
@pie-stroke-color     : @element-stroke-color;
@pie-text-opacity     : @element-text-opacity;
@pie-slice-opacity    : @element-fill-opacity;

// Styles
.element-pie {
  background-color: @pie-background-color;

  svg {
    margin: auto;
    stroke: @pie-stroke-color;
    fill: none;

    .pie-slice {
      opacity: @pie-slice-opacity;
      stroke: none;
    }

    text.pie-slice {
      opacity: @pie-text-opacity;
      fill: @pie-text-color;
    }
  }
}
